<!-- CONFIGURADOR DA BASE DE DADOS - 09/07/2024 20:25:12 -->
<connectionStrings>
	<add name="SiglaConnectionString"
			 connectionString="Data Source=latoplevu.database.windows.net;Initial Catalog=SIGLA_LEVU_MNT;Persist Security Info=True;User ID=sigla;Password=$igl@2024"
			 providerName="System.Data.SqlClient" />
</connectionStrings>
